.img{
    height: 450px;
    /* object-fit: cover;
    object-position: left;
    width: 100%; */
    background-size: cover;
    background-position: left;
    background-image: url('./media/bg.jpg');
    display: flex;
    justify-content: center;
    align-items: center;

}
h2{
    font-size: 70px;
    color: #274C5B;
}